.gallery img{
        width: 85%;
 }
th{ 
font-weight:800;


}
table{
    font-family :Times New Roman (serif);
    border-collapse: collapse;
}
table{
     
}
th {
    font-weight     : 800;
    background-color: #2695A6;
    color           : antiquewhite;
}

#info{
    padding-left: 20px;
}